<div class="container">
    <div class="col-md-8 mt-4 offset-2 card card-body" style="background-color: rgba(255, 0, 0, 0.171)">
        <h3 class="text-center">Task Management</h3>
        <input type="search" name="task" placeholder="Task name" class="form-control text-center"
            style="background-color: rgb(199, 230, 243);color: black;font-family: cursive"><br>
        <button type="submit" class="btn btn-outline-success " (click)='addTask(sendtask)'>GIve
            Task</button>
    </div>
    <!-- <app-task-details></app-task-details> -->
</div>